<!DOCTYPE html PUBLIC>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Template</title>
</head>
<style type="text/css">
    *{font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;line-height: 150%; color: #757575;}
    span {color: #7C33FF;font-weight: bold;}
    hr{opacity: .2; margin-bottom: 20px;}
    button{border: 2px solid #7C33FF;
        background: none;
        box-sizing: border-box;
        width: 140px;
        height: 55px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin: 0 230px;
    }
    button a{color: #7C33FF; text-decoration: none; font-weight: bold;}
    .btn2 {background-color: #7C33FF;}
    .btn2 a{color: white;}
    .banner{
        width: 90%;
        background-color: #F7F7F7;
        padding: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    .banner img{width: 250px; margin-bottom: 10px;}
    .banner h1{color: #7C33FF; margin:0; margin-bottom: 0; text-align: center;}
    .col {width: 600px; margin: auto;}
    .col img{width: 600px;}
    h3{color: #444444; font-weight: bolder;}
    .col .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .response{
        width: 280px;
        text-align: center;
        margin: 0 10px 40px;
    }
    .response .option {
        background: #FCFCFC;
        padding: 10px; margin-bottom: 10px;
        border-radius: 10px;
    }
    .response .option img{width: unset; height: 100px;}
    .response h3{margin: 0; color: #9933ff;}
    .response p{margin: 0;}

    .ending{text-align: center;}
    .ending *{margin: 0; margin-top: 10px;}
    .ending h3{margin-top: 30px;}

    footer{
        text-align: center;
        background-color: #333333;
        padding: 45px 40px 63px;
        width: 90%; margin-top: 20px;
    }
    footer .row a{margin: 0 10px;}
    footer hr{width: 40%;}
    footer *:not(hr){color: white; margin: 0; margin-top: 5px;}
</style>
<body>
    <div class="banner">
        <img src="https://firebasestorage.googleapis.com/v0/b/quote-db5a2.appspot.com/o/quoteImgs%2Flogo.png?alt=media" alt="img">
        <h1>Your website quote has arrived!</h1>
    </div>
    <div class="col">
        <h3>Hi there visitor!</h3>
        <p>Thanks for using our quotes app in GoConsulting.com.</p>
        <p>Here you can find the estimated total price for your website at the bottom of this email, which would be based on your responses. You can also review your answers and edit them if you need to: <a href="">just create an user with the same email address you used on the quotes app.</a></p>
        <h3>Your recommended plan is: <span><%= plan %></span></h3>
        <p>Your website might be an e-commerce with online payments, could have multiple languages, and a system for user registration and suscriptions management.</p>
        <p>If you are looking to level up with custom integrations, or custom developments like web applications, then a Custom Plan might be better for you.</p>
    
        <h3>Review Your Answers</h3>
        <img src="https://firebasestorage.googleapis.com/v0/b/quote-db5a2.appspot.com/o/quoteImgs%2Fnav.png?alt=media" alt="nav">
        <div class="row">
            <div class="response">
                <div class="option">
                    <img src=<%= imgs[0] %> alt="img">
                </div>
                <h3>What kind of website?</h3>
                <p>You selected: <span><%= webType %></span></p>
            </div>
            <div class="response">
                <div class="option">
                    <img src=<%= imgs[1] %> alt="img">
                </div>
                <h3>What kind of design?</h3>
                <p>You selected: <span><%= design %></span></p>
            </div>
        </div>
        <div class="row">
            <div class="response">
                <div class="option">
                    <img src= <%= imgs[2] %> alt="img">
                </div>
                <h3>Current status</h3>
                <p>You selected: <span><%= etage %></span></p>
            </div>
            <div class="response">
                <div class="option">
                    <img src=<%= imgs[3] %> alt="img">
                </div>
                <h3>How much information?</h3>
                <p>You selected: <span><%= ans4 %></span></p>
            </div>
        </div>
        <div class="row">
            <div class="response">
                <div class="option">
                    <img src=<%= imgs[4] %> alt="img">
                </div>
                <h3>Need help with content?</h3>
                <p>You selected: <span><%= ans5 %></span></p>
            </div>
            <div class="response">
                <div class="option">
                    <img src=<%= imgs[5] %> alt="img">
                </div>
                <h3>Integrations?</h3>
                <p>You selected: <span><%= ans6 %></span></p>
            </div>
        </div>
        <div class="response" style="margin: auto">
            <div class="option">
                <img src=<%= imgs[6] %> alt="img">
            </div>
            <h3>Hire SEO services?</h3>
            <p>You selected: <span><%= ans7 %></span></p>
        </div>
        <hr>
        <button><a href="https://goconsultingeurope.com/start/">Edit answers</a></button>
        <div class="ending">
            <h3>And now the best part...</h3>
            <p>Your recommended plan includes everything you have selected, plus</p>
            <span>One Full Year of Hosting, 100% Free.</span>
        
            <h3>Estimated Price: <span><%= price %> €</span></h3>
            <p>Ready to go to the next level?</p>
        
            <button class="btn2"><a href="https://goconsultingeurope.com/start/">Let's Start</a></button>
        
            <h3 style="text-align: left;">Does it differ from your budget?</h3>
            <p style="text-align: left;">We want to fully understand you and deliver the best solution to your case. You can <a style="color: #7C33FF;" href="https://goconsultingeurope.com/assist/">schedule a free call or meeting</a> if you have any question or want to talk about your expectations; and if you need to re-think your answers you can always use the "Edit Answers" buttom above this section.
            </p>
        </div>
    </div>
    <footer>
        <div class="row">
            <a target="_blank" href="https://www.facebook.com/goconsulting.es"><img src="https://firebasestorage.googleapis.com/v0/b/quote-db5a2.appspot.com/o/quoteImgs%2Ffacebook.png?alt=media" alt=""></a>
            <img src="https://firebasestorage.googleapis.com/v0/b/quote-db5a2.appspot.com/o/quoteImgs%2Fgoogle.png?alt=media" alt="">
            <img src="https://firebasestorage.googleapis.com/v0/b/quote-db5a2.appspot.com/o/quoteImgs%2Flinkedin.png?alt=media" alt="">
            <a target="_blank" href="https://twitter.com/goconsulting_es"><img src="https://firebasestorage.googleapis.com/v0/b/quote-db5a2.appspot.com/o/quoteImgs%2Ftweeter.png?alt=media" alt=""></a>
        </div>
        <hr/>
        <p>Copyright © *|CURRENT_YEAR|* Go Consulting Europe, All rights reserved.</p>
        <p>Our mailing address is:</p>
        <a href="mailto:info@goconsultingeurope.com">info@goconsultingeurope.com</a>
        <p>Want to change how you receive these emails?</p>
        <p>You can update your preferences or unsubscribe from this list.</p>
    </footer>
</body>
</html>